.container {
  flex: 1;
  .pianoContainer {
  }
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button {
      width: 150px;
    }
  }
}

:global(.ant-modal-body) {
  .modalContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .inputModal {
      display: flex;
      flex-direction: column;
    }
  }
}
